<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>忘記密碼</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<table>
    <tr>
      <td>email<input id="email" type="text" name="email"/></td>
      <td id="result"></td>
    </tr>
</table>
<button id="send">寄送驗證碼</button>

<script>
$(function(){
    $('#send').click(function(){
        var email = $('#email').val();
        
        if($.trim(email)==''){
             alert('email不得為空');
             return;
        }

        console.log('email:' + email);
        var params = {"email":''+email};
        $.ajax({
            type: 'post',
            url: 'checkEmail',
            contentType: 'application/json',
            data: JSON.stringify(params),
            success: function(data){
                console.log('data:' + data);
                if(data=='Y'){
                	//$('#result').html('emai存在');
                   window.location.href = 'validateOtpPage';
                }

                if(data=='N'){
                   $('#result').html('email不存在，請註冊');
                }                    
            }
        });

    });
});
</script>
</body>
</html>